.wrapper {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    min-height: 100vh;
    width: 180px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.sidebar-heading {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
}

.sidebar-logo {
    font-size: 40px;
    border-bottom: 4px solid #fff;
    display:inline-block;
    line-height: 1.2;
}

.list-group-item {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
}

.contacts-heading {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
}


.contact-links {
    padding-top: 5px;
    display: flex;
    justify-content: center;;
   
}

.markers_social {
    color: #fff;
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin: 0;
    width: 60%;
   
}

.social_icons {
   font-size: 30px;

}

.social {
    color: #fff;
}

.social:hover {
    color: #dc3545;
    transition: all .3s;
}

.copyright {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.copyright-text {
    display: inline-block;
    line-height: .1em;
    font-size: 12px;
} 




.hamburger {
    display: none;
    position: absolute;
    top: 30px;
    right: 30px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
.is-active .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .is-active .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .is-active .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }


 

  /* Large desktops and laptops */
@media (max-width: 1200px) {
    .hamburger {
        display: inline-block;
    }

    .sidebar {
        transform: translate(-180px);
    }
}


.sidebar-toggle {
    display: flex;
    position: absolute;
    transform: translate(0px);
    transition: .5s;
}

